# Network
github "Alamofire/Alamofire" ~> 3.0
github "Alamofire/AlamofireImage" ~> 2.0

# Logging
github "emaloney/CleanroomLogger"
#github "DaveWoodCom/XCGLogger"

# AV
github "BradLarson/GPUImage"

# UI
github "TransitApp/SVProgressHUD"

# DB
github "realm/realm-cocoa"

# Utility
#github "robb/Cartography"
github "mxcl/PromiseKit" "swift-2.0-minimal-changes"
#github "mxcl/PromiseKit"
github "ViccAlexander/Chameleon"
#github "duemunk/Async" ~> 1.4
github "antitypical/Result" ~> 0.6
