github "Alamofire/Alamofire" ~> 3.0
github "Alamofire/AlamofireImage" ~> 2.0
github "duemunk/Async" ~> 1.4
github "antitypical/Result" ~> 0.6
github "BradLarson/GPUImage"
##github "onevcat/Kingfisher" >= 1.5
##github "emaloney/CleanroomLogger"
##github "DaveWoodCom/XCGLogger"
##github "robb/Cartography"
github "mxcl/PromiseKit" "swift-2.0-minimal-changes"
##github "mxcl/PromiseKit"
github "TransitApp/SVProgressHUD"
